<form action="/search" method="get" class="searchbar" id="searchform">
    <input type="text" id="searchInput" name="q" class="searchbar-input" placeholder="Mot-clés, lieu...">
    <input type="submit" class="searchbar-icon fa-solid fa-magnifying-glass fa-1x" name="" onclick="document.getElementById('searchform').submit()">
</form>


