{% block component %}
    <div class="contact" id="contact">
        <h1>{{ item.title }}</h1>
        <h2>{{ item.subtitle }}</h2>
        {{ boltform('contact') }}
    </div>

{% endblock component %}
