{% block component %}
    <div class="opqb">
        <div class="opqb-header">
            <h1 class="opqb-header-title">{{ item.subtitle }}</h1>
            <a class="opqb-header-btn" href="/page/a-propos#qualifications">Retour</a>
        </div>
        <p class="opqb-paragraph" >{{ item.paragraph }}</p>
    </div>
{% endblock component %}
